body{
  margin:0;
  padding: 0;
}
.container{
display: flex;
flex-wrap: nowrap;
flex-basis: 100%;
margin:0 0 0 0;
/* 1% 2% 1% 10%*/
}
.generalinfo{
 background-color:#525662;
 flex-direction: column;
 flex-basis:20%;
 color: #d3d3d3;
 margin:0;
 padding:0;
 text-align: center;
 font-family: 'Cairo', serif;
 font: optional;
 
}
img{
  border-radius: 100%;
  border-color: #D2691E;
  border-style: solid;
  margin-top: 7%;

}
h3{
  color:	white;
  text-align: center;
}
.education h3,a{
  color:	#D2691E;
  text-align: left;
}

.fas {
  padding-right: 6px;
}
.phone{
  padding-left: 5px;
}
ul{
  list-style: none;
  padding:0;
}
.secondpart{
  flex-direction: column;
  padding: 0;
  flex-basis:100%;
  text-align: justify;
  font-family: 'Montserrat', serif;
  background-color: #f7f7f1;
}
.name{
  width: 80%;
  background-color:#d3d3d3;
  color: black;
  margin:-1px auto;
  font-family:'Times New Roman', Times, serif;
  padding-top: 0;
  text-align: center;
}
.education{
margin:50px 0px 10px 50px;
width: 70%;
text-align: justify;


}
h6{
  padding-bottom: 5%;
}
@media screen and (max-width: 768px){
  /* 768px */
  .container{
    display: flex; 
    flex-wrap: nowrap;
    flex-basis: 100%;
    margin: 1;
    font:10px;
    size :80%;
    }
    .education{
      margin:0;
      flex-basis: 100%;
      width: 100%;
      text-align: left;
      font: 14px;
      margin-left: 2px;
      
   
}
.generalinfo{
  background-color: #525662;
  flex-direction: column;
  flex-basis:10%;
  width: 30%;
  margin:10;
  padding:0;
  text-align: center;
  font-family: 'Cairo', serif;
  font:10px;
  font-size:5px;
}
.secondpart{
  flex-direction: column;
  padding: 0;
  flex-basis:70%;
  text-align: justify;
  font-family: 'Montserrat', serif;
  background-color: white;
  font-size: 10px;
  margin-left:10;
}
img{
  border-radius: 50%;
  border-color: #D2691E;
  border-style: solid;
  margin-top: 7%;
  size: 5%;

}
.generalinfo{
  background-color: #525662;
  flex-direction: column;
  flex-basis:30%;
  margin-left:5;
  padding:0;
  text-align: center;
  font-family: 'Cairo', serif;
  color: white;
  font: 12px;
 }

 @media print {
  .page-break {
  page-break-before: always;
  }
  }
}
}
